@font-face {
  font-family: 'MonumentGrotesk';
  src: url('../fonts/ABCMonumentGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-festival-black;
  }

  h1 {
    @apply text-4xl md:text-6xl mb-4 font-heading text-festival-black font-bold;
  }

  h2 {
    @apply text-2xl md:text-4xl mb-4 font-heading text-festival-black font-bold;
  }

  h3 {
    @apply text-xl md:text-2xl mb-4 font-heading text-festival-black font-bold;
  }

  p {
    @apply mb-4 text-base font-sans text-festival-black;
  }
}